/*importacion de fonst google*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* Contenedor principal, ingreso tareas & pendientes */
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    @media screen and (max-width:1024px){
        row-gap: 20px;
        padding: 0 10px;
    }
}

.general-container{
    background-color: #00471483;
    border-radius: 15px;
    width: 500px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}


/* Contenedor de input ingreso tareas */
.container.agregar{
    display: flex;
    flex-direction: column;
}

/*estilos para input ingresar tarea*/
label[for="tarea-in"]{
    width: 80%;
    margin: 0 auto;
}
input[name="tarea-in"]{
    width: 80%;
    margin: 0 auto;
}


/*estilos para boton agregar tarea*/
.button.agregar-tarea{
    width: 80%;
    background-color: #004714;
    margin: 5px auto;
    transition: background-color 0.5s;
    color: #ffffff;
}
.button.agregar-tarea:hover{
    cursor: pointer;
    background-color: #398132;
}

.main-title{
    font-size: calc(20px + 2vw);
    text-align: center;
    color: #dc4405;
    font-weight: 700;
}

/*Lista de tareas*/
.general-container.tasks{
    margin: 0 auto;
    min-height: 87px;
}
.general-container.form{
    max-height: 100px;
}

#tasks-container{
    list-style: none;
    padding: 0 1.5rem;
}

.tasks-title{
    text-align: center;
}

.general-container.form{
    max-height: 87px;
}

.task{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

#delete-tasks{
    width: 80%;
    margin-bottom: 5px;
    align-self: center;
}
#delete-tasks:hover{
    cursor: pointer;
}

#delete-task:hover{
    cursor: pointer;
}